[TEMPLATE]
VITE_OPENROUTER_API_KEY=
VITE_OPENROUTER_API_MODEL=

 eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0ZDEzOGViMi1hMDE5LTRhYzEtYWJmNy0wYTMxMDYyZTQ2NzgiLCJleHAiOjE1MDg4NDM3MjIsImlkIjoiNDQ2OTE4NCJ9.FlexrpEdISo-Pfpx5dS3znUVPU229p6SlncT2AJZzN8
